* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./background_image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
}

#container {
    width: 50%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 5vh;
}

header {
    text-align: center;
    color: white;
}

.title {
    color: #FF0000;
    font-size: 50px;
}



#baslik {
    font-size: 50px;
}

section{
    width: 500px;
}

.form-wrapper {
    width: 40%;
    background: rgba (0, 0, 0, 0.8);
    height: 900px;
    margin: 3rem auto 0;
}

.form-area {
    width: 100%;
    padding-top: 2rem;

}
.form-control {
    width: 96%;
    margin: auto;
    color: white;
}
.label-wrapper {
    width: 80%;
    margin: auto;
}

.form-label {
    color: #fff;
    display: block;
    margin-bottom: 7px;
}
.form-input {
    display: block;
    width: 80%;
    height: 60px;
    background-color: #fff;
    padding-left: 2%;
    margin: auto;
}
.comment {
    color: #fff;
    margin: 100px;
}

#button{
    color: white;
    background-color: red;
    border-radius: 100px;
    padding: 15px;
    position: center;
    
}